<?xml version="1.0" encoding="utf-8"?>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.NFC" />

    <application
        android:name=".WaterTrackerApp"
        android:allowBackup="true"
        android:icon="@android:mipmap/sym_def_app_icon"
        android:label="Water Tracker"
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".infra.nfc.NfcReaderService"
            android:enabled="true"
            android:exported="false" />
        <service android:name=".infra.service.WaterTrackerService"
        android:exported="false"
        android:foregroundServiceType="dataSync" />
</application>

</manifest>
